torch==2.3.1
torchvision==0.18.1
transformers==4.43.3
ultralytics==8.2.50
opencv-python==4.10.0.84
numpy==1.26.4
scipy==1.13.1
open3d==0.18.0
gradio==4.41.0
matplotlib==3.9.0
pyttsx3==2.90
huggingface-hub==0.24.5
pytest==8.3.2
